[Unit]
Description=Python HTTP Server

[Service]
User=jenkins
WorkingDirectory=/home/python
ExecStart=/opt/python-systemd-http-server/app.py

[Install]
WantedBy=multi-user.target
